@import "../../../variables.scss";
.categories {
  margin: 0 auto;
  padding: 4rem 0 2rem 0;
  width: 80%;
  h2 {
    font-size: 2rem;
    padding-bottom: 3rem;
    color: $header-two;
  }
  .container {
    display: flex;
    justify-content: center;
    z-index: 10;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  .categories {
    width: 99%;
  }
}
@media only screen and (max-width: 1023px) {
  .categories {
    width: 99%;
    .container {align-content: space-between;flex-wrap: wrap;}
  }
}