.categories {
  margin: 0 auto;
  padding: 4rem 0 2rem 0;
  width: 80%;
  h2 {
    font-size: 2rem;
    padding-bottom: 3rem;
    color: #161a1d;
  }
  .container {
    display: flex;
    justify-content: center;
    z-index: 10;
  }
}
