.header {
  height: 70px;
  position: fixed;
  width: 100%;
  top:0;
  z-index:99;
  background-color: white;
  margin: 0 auto;
  padding: 0 auto;
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.wrapper {
  height: 100%;
  padding:0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
      display: flex;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 2px;
    flex: 3;
    justify-content: flex-start;
    .link {font-weight:600;}
    .link:hover {color:#a4161a;}
  }
  .center {
      display: flex;
      align-items: center;
      flex: 5;
      justify-content: center;
  }
  .right {
      display: flex;
      flex: 2;
      justify-content: flex-end;
      align-items: center;
  }
}

@media only screen and (max-width: 1279px) and (min-width: 1024px) {
  .wrapper {
    .left {font-size: 1.5rem;flex: 2.7;}
  }
}
@media only screen and (max-width: 1023px) and (min-width: 480px) {
  .wrapper {
    .left {font-size: 1.5rem;}
    .center {display:none;}
  }
}
@media only screen and (max-width: 479px) {
  .wrapper {
    .left {font-size: 1.2rem;}
    .center {display:none;}
  }
}
