@import "../../../variables.scss";
.summary {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.8rem;
    border-bottom: 1px solid $light-gray;
    .title {
      font-size: 1rem;
      font-weight: 500;
      color: $title-color;
    }
    .amount {
      font-size: 1rem;
      font-weight: 600;
      color: $dark-gray;
    }
    .total {
        font-size: 1.2rem;
    }
  }
}
