.categories {
    margin: 0 auto;
  padding: 4rem 0;
  width: 80%;
  .top {
    margin: 0 auto;
    padding:2rem 0;
    h2 {font-size: 2rem;}
  }
  .categoriesContainer {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
  }
}
