@import "../../../variables.scss";
.priceTextContainer {
  display: flex;
  align-items: center;
  .price {
    margin: 0 0.5rem 0 0;
    border: 2px solid $price-color;
    border-radius: 0.5rem;
    padding: 0.3rem 0;
    font-size: 1.7rem;
    line-height: 2rem;
    min-width: 110px;
    text-align: center;
    color: $price-color;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    &:hover {
      border: 2px solid $add-to-cart-color;
      background-color: $card-border;
    }
  }
  .oldPrice {
    font-size: 1.7rem;
    line-height: 2rem;
    padding-left: 2rem;
    color: $card-color;
    text-decoration: line-through;
  }
}
