.addtoCart {
  width: 250px;
  padding: 10px;
  margin-left: 1rem;
  background-color: rgb(24, 129, 63);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border: 2px solid rgb(34, 197, 94, 1);
  border: none;
  gap: 20px;
  cursor: pointer;
  border-radius: 0.5rem;
  &:hover {
    background-color: rgb(34, 197, 94, 1);
  }
}
@media only screen and (max-width: 1023px) and (min-width: 480px){
  .addtoCart {
    width:inherit;
    padding:10px 20px 10px 20px;
  }
}
@media only screen and (max-width: 479px) and (min-width: 320px) {
  .addtoCart {
    width:250px;
    margin-left:0;
    margin-top:1rem;
  }
}
@media only screen and (max-width: 319px) {
  .addtoCart {
    width:inherit;
    margin-left:0;
    margin-top:1rem;
  }
}
