.products {
  margin: 0 auto;
  padding: 4rem 0;
  width: 90%;
  .top {
    margin: 0 auto;
    padding:2rem 0;
    h2 {font-size: 2rem;}
  }
  .container {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1439px) {
  .products {
    width: 99%;
    .container {width: 99%;}
  }
}
