.cartList {
  position: fixed;
  top: 70px;
  right: 4px;
  z-index: 100;
  background-color: white;
  border-radius: 0.3rem;
  min-width: 450px;
  max-height: calc(100% - 70px);
  overflow: hidden;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.6);
  .cartTop {
    padding: 1rem;
    height: 100%;
    h3 {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
    .emptyCart {
        width: 100%;
        padding:1rem 0;
        text-align: center;
    }
    .item {
      display: flex;
      padding: 0.9rem 0;
      border-bottom: 1px solid rgb(243, 243, 243);
      &:last-child {
        border-bottom: 0;
      }
      .itemImage {
        flex: 2;
        width: 100px;
        height: 120px;
        border-radius: 0.3rem;
        border: 1px solid rgb(243, 243, 243);
        display: flex;
        align-items: center;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .itemDetails {
        flex: 4;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0.7rem;
        position: relative;
        .itemTitle {
          font-size: 1.1rem;
          color: rgb(85, 85, 85);
          font-weight: 600;
        }
        .totalPrice {
          position: absolute;
          bottom: 0.5rem;
          left: 0.5rem;
          margin: 0 0.5rem 0 0;
          border: 2px solid rgb(34, 197, 94, 1);
          border-radius: 0.5rem;
          padding: 0.3rem 0;
          font-size: 1.1rem;
          line-height: 1.3rem;
          min-width: 70px;
          text-align: center;
          color: rgb(34, 197, 94, 1);
          font-weight: 700;
          display: inline-block;
        }
        .priceAndQuantity {
          padding: 0.3rem 0 0 0;
          font-size: 0.95rem;
          color: rgb(131, 131, 131);
        }
      }
      .itemDelete {
        flex:0.7;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(236, 236, 236,0.5);
        color: red;
        font-weight: 700;
        padding: 0.2rem;
        font-size: 1.5rem;
        line-height: 1rem;
        cursor: pointer;
        &:hover {
          background-color: red;
          color: white;
        } 
      }
    }
  }
  .cartBottom {
    padding: 1.5rem 1rem;
    background-color: rgb(243, 243, 243, 0.4);
    .cartSubtotal {
      display: flex;
      justify-content: space-between;
      .left {
        h4 {
          font-size: 1.3rem;
        }
        span {
          font-size: 0.8rem;
          line-height: 0.6rem;
        }
      }
      .right {
        h4 {
          font-size: 1.2rem;
        }
      }
    }
    .cartCheckout {
      padding: 1rem 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .cartButton {
        width: 48%;
        padding: 0.8rem 0;
        border-radius: 0.3rem;
        font-size: 1.1rem;
        border: 1px solid rgb(236, 236, 236);
        background-color: white;
        color: rgb(34, 34, 34);
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
        &.checkout {
          background-color: rgb(24, 129, 63);
          color: white;
          &:hover {
            background-color: rgb(34, 197, 94, 1);
          }
        }
      }
    }
  }
}
