.selectorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
  font-weight: 900;
  max-width: 100%;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 0.5rem;
  .smallSize {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.6rem 0.9rem;
  }
  .mediumSize {
    font-size: 1rem;
    line-height: 0.6rem;
    padding: 0.6rem 0.9rem;
  }
  .largeSize {
    font-size: 1.6rem;
    line-height: 1rem;
    padding: 0.9rem 1.2rem;
  }
  button {
    min-height: 14px;
    margin: 0;
    border: none;
    cursor: pointer;
    font-weight: 700;
    background-color: rgb(233, 233, 233);
    color: rgb(49, 49, 49);
    &:hover {
      background-color: rgb(243, 243, 243);
    }
  }
  .quantity {
    color: rgb(49, 49, 49);
  }
}
@media only screen and (max-width: 1439px) and (min-width: 1140px) {
  .selectorContainer {
    .mediumSize {
      font-size: 0.9rem;
    line-height: 0.6rem;
    padding: 0.6rem 0.8rem;
    }
  }
}
@media only screen and (max-width: 1139px) and (min-width: 1024px) {
  .selectorContainer {
    .mediumSize {
      font-size: 0.9rem;
    line-height: 0.6rem;
    padding: 0.6rem 0.8rem;
    }
  }
}