.addtoCart {
        width: 250px;
        padding: 10px;
        margin-left: 1rem;
        background-color:rgb(24, 129, 63);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:1.2rem;
        border: 2px solid rgb(34, 197, 94, 1);
        border: none;
        gap: 20px;
        cursor: pointer;
        border-radius: 0.5rem;
        &:hover {
            background-color:rgb(34, 197, 94, 1) ;
        }
}