.product {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  .productLeft {
    flex: 1;
    .mainImage {
      width: 99%;
      height: auto;
      margin: 0 auto;
      flex: 5;
      border: 2px solid rgb(248 250 252);
      border-radius: 1rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        margin: 0 auto;
        max-height: 800px;
        object-fit: cover;
      }
    }
    .otherImages {
      flex: 1;
      // display: flex;
      display: none;
      justify-content: center;
      flex-wrap: wrap;
      width: 99%;
      margin: 0.5rem auto;
      img {
        width: 18.5%;
        height: 150px;
        margin: 0 1% 0 0;
        object-fit: cover;
        cursor: pointer;
        border: 2px solid rgb(248 250 252);
        border-radius: 0.4rem;
        overflow: hidden;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          border: 2px solid rgb(238, 238, 238);
        }
      }
    }
  }
  .productRight {
    flex: 1;
    flex-direction: column;
    margin: 0 1rem;
    .title {
      padding: 0.5rem 0;
      h2 {
        font-size: 2.5rem;
      }
    }
    .info {
      padding: 0.4rem 0 0 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      flex-direction: column;
      .infoItem {
        padding: 0 0 1.5rem 0;
        display: flex;
        flex-wrap: wrap;
      }
    }
    .desc {
      padding: 1rem 0;
      h2 {
        font-weight: 2.2rem;
        padding-bottom:1rem;
      }
      p {padding:0.5rem;text-indent: 5px;}
    }
  }
}
