.promoBannerContainer {
  width: 30%;
  margin: 0 0.4rem;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.promoBannerItem {
  width: 100%;
  padding-bottom: 56.25%;
  background-color: #c7c7c7;
  position: relative;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  .pbImageWrapper {
    position: absolute;
    top: -50%;
    bottom: 0;
    left: 0;
    right: 0;
    img {
      max-width: 110%;
      height: auto;
      display: block;
      object-fit: cover;
      transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease 0s;
    }
  }
  &:hover .pbImageWrapper img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transform: scale(1.1);
  }
  &:hover .textCenter .pbDesc,&:hover .textLeft .pbDesc,&:hover .textRight .pbDesc {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -moz-transform: scale(1.15);
    color:#ba181b;
  }
  &:hover .textCenter .pbTitle,&:hover .textLeft .pbTitle,&:hover .textRight .pbTitle {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  .linkButton {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    position: absolute;
  }
  .textRight {
    position: absolute;
    left: auto;
    right: 0px;
    top: 30%;
    bottom: auto;
    text-align: right;
  }

  .textCenter {
    position: absolute;
    left: auto;
    right: auto;
    top: 30%;
    text-align: center;
  }

  .textLeft {
    position: absolute;
    left: 0px;
    right: auto;
    top: 30%;
    bottom: auto;
    text-align: left;
  }
  .pbTitle {
    background-color: #ba181b;
    padding: 0.5rem 1rem;
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    font-size:1rem;
    font-weight:700;
    letter-spacing: 1px;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }
  .pbDesc {
    margin: 0 auto;
    background-color: #d3d3d3;
    padding: 0.3rem 1.5rem;
    font-size: 3.5rem;
    font-weight: 700;
    color: #161a1d;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
  }
  
}
