.checkoutContainer {
  width: 80%;
  margin: 3rem auto;
  .top {
    width: 100%;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(233, 233, 233);
    h2 {
      font-size: 2.5rem;
      line-height: 4rem;
    }
    span {
      font-size: 0.9rem;
      line-height: 1rem;
    }
  }
  .middle {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 2rem 0;
    .left {
      flex: 2;
      border-right: 1px solid rgb(233, 233, 233);
    }
    .right {
      flex: 1;
      padding: 0 1rem;
      h4 {
        font-size: 1.3rem;
        padding: 0 0 0.5rem 0;
      }
      .details {
        padding:2rem 0;
        .emptyCart {
            width: 100%;
            padding: 1rem 0 2rem 0;
            text-align: center;
          }
      }
      .confirm {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0.8rem 2rem 0.8rem;
        a {
          width: 98%;
          padding: 0.8rem 0;
          border-radius: 0.3rem;
          font-size: 1.1rem;
          border: 1px solid rgb(236, 236, 236);
          text-align: center;
          cursor: pointer;
          overflow: hidden;
          background-color: rgb(24, 129, 63);
          color: white;
          &:hover {
            background-color: rgb(34, 197, 94, 1);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1279px) and (min-width: 960px) {
  .checkoutContainer {
    width: 96%;
    .middle {
      width: 98%;
    }
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  .checkoutContainer {
    width: 99%;
    .middle {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 767px) {
  .checkoutContainer {
    width: 99%;
    .middle {
      width: 100%;
      flex-direction: column;
      .left,.right {flex:none;}
      .left {padding-bottom:2rem;border-right:none;padding:0;}
    }
  }
}