.checkoutPageContainer {
  width: 80%;
  margin: 3rem auto;
  .checkoutPageTop {
    width: 100%;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(233, 233, 233);
  }
  h2 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  span {
    font-size: 0.9rem;
    line-height: 1rem;
  }
  .checkoutPageMiddle {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 2rem 0;
    .checkoutPageLeft {
      flex: 2;
      border-right: 1px solid rgb(233, 233, 233);
      h3 {
        font-size: 1.5rem;
        padding: 1.3rem 0 0 0;
      }
      .checkoutInfoItem {width: 60%;}
      .checkoutFlex {display: flex;align-items: center;justify-content: space-between;}
      .checkoutRight,.checkoutLeft {width: 45%;}
      label {display: block;margin: 1rem 0 0.3rem 0;color: rgb(83, 83, 83);font-size: 0.9rem;}
      input {width: 100%;padding:0.8rem 1rem;margin:0.5rem 0;font-size:1rem;border-radius: 0.5rem;border:1px solid rgb(228, 228, 228);}
      textarea {width: 100%;padding:0.8rem 1rem;margin:0.5rem 0;font-size:1rem;border-radius: 0.5rem;border:1px solid rgb(228, 228, 228);}
    }
    .checkoutPageRight {
      flex: 1;
      padding: 0 1rem;
      .emptyCart {
        width: 100%;
        padding: 1rem 0 2rem 0;
        text-align: center;
      }
      h4 {
        font-size: 1.3rem;
        padding: 0 0 1rem 0;
      }
      .checkoutOrder {
        .orderSummary {
          display: flex;
          flex-direction: column;
          padding-top: 1rem;
          .summaryItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0.8rem;
            border-bottom: 1px solid rgb(233, 233, 233);
            .sumTitle {
              font-size: 1rem;
              font-weight: 500;
              color: rgb(31, 31, 31);
            }
            .sumAmount {
              font-size: 1rem;
              font-weight: 600;
              color: rgb(85, 85, 85);
            }
            .sumTotal {
              font-size: 1.2rem;
            }
          }
          .summaryCheckout {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 0.8rem;
            .sumCheckout {
              width: 98%;
              padding: 0.8rem 0;
              border-radius: 0.3rem;
              font-size: 1.1rem;
              border: 1px solid rgb(236, 236, 236);
              text-align: center;
              cursor: pointer;
              overflow: hidden;
              background-color: rgb(24, 129, 63);
              color: white;
              &:hover {
                background-color: rgb(34, 197, 94, 1);
              }
            }
          }
        }
      }
    }
  }
}
