.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    div {
        display: flex;
        align-items: center;
        padding:0.5rem;
        margin:0 0.4rem;
        border-radius: 0.5rem;
        cursor: pointer;
        &:hover {
            background-color: rgb(243, 243, 243);
            color:#a4161a;
        }
    }
}
@media only screen and (max-width: 1279px) and (min-width: 1024px) {
    .navbar  {
      font-size: 1rem;
    }
  }