$primary-color:#000;
$secondary-color:#ba181b;
$light-gray:#E9E9E9;
$dark-gray:#555555;
$title-color:#1F1F1F;
$input-color-first:#E4E4E4;
$input-color-second:#CECECE;
$item-bgcolor:#c7c7c7;
$banner-bgcolor:#d3d3d3;
$banner-color:#161a1d;
$card-border:#F8FAFC;
$card-color:#838383;
$header-two:#161a1d;
$newsletter-bgcolor:#F0F0F0;
$newsletter-button-hover:#8a1618;
$price-color:#22C55E;
$add-to-cart-color:#18813F;
$white:#fff;
$header-shadow:rgba(0, 0, 0, 0.1);