@import "../../../variables.scss";
.cartMenu {
  position: fixed;
  top: 70px;
  right: 4px;
  z-index: 100;
  background-color: $white;
  border-radius: 0.3rem;
  min-width: 450px;
  max-height: calc(100% - 70px);
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 7px -5px $banner-color;
  box-shadow: 0px 0px 7px -5px $banner-color;
  .top {
    padding: 1rem;
    height: 100%;
    h3 {
      font-size: 1.5rem;
      padding: 0;
    }
  }
  .middle {
    padding: 0.5rem 1rem 1rem 1rem;
    position: relative;
    .emptyCart {
      width: 100%;
      padding: 1rem 0;
      text-align: center;
    }
  }
  .bottom {
    padding: 1.5rem 1rem;
    background-color: $card-border;
    .subtotal {
      display: flex;
      justify-content: space-between;
      .left {
        h4 {
          font-size: 1.3rem;
        }
        span {
          font-size: 0.8rem;
          line-height: 0.6rem;
        }
      }
      .right {
        h4 {
          font-size: 1.2rem;
        }
      }
    }
    .buttons {
      padding: 1rem 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .cartButton {
        width: 48%;
        padding: 0.8rem 0;
        border-radius: 0.3rem;
        font-size: 1.1rem;
        border: 1px solid $input-color-first;
        background-color: $white;
        color: $header-two;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        &:hover {
          background-color: $input-color-first;
        }
        &.checkout {
          background-color: $add-to-cart-color;
          color: $white;
          &:hover {
            background-color: $price-color;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 479px) {
  .cartMenu {
    right: 0;
    left: 0;
    min-width: 100%;
  }
}
