.priceWrapper {
    display: flex;
    align-items: center;
    button {border: none;}
    .priceButton {
      background-color: white;
      margin: 0 0.5rem 0 0;
      border: 2px solid rgb(34, 197, 94, 1);
      border-radius: 0.5rem;
      padding: 0.3rem 0;
      text-align: center;
      color: rgb(34, 197, 94, 1);
      font-weight: 700;
      cursor: pointer;
      font-size:1.1rem;
      line-height: 1.3rem;
      min-width: 64px;
      transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      &:hover {
        color: azure;
        background-color: rgb(34, 197, 94, 1);
        span {
          display: none;
        }
      }
      &:hover:before {
        content: "Buy";
      }
    }
    .oldPrice {
      color: rgb(131, 131, 131);
      text-decoration: line-through;
    }
  }