.slider {
  height: calc(100vh - 120px);
  width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  .sliderContainer {
    height: 100%;
    display: flex;
    transition: all 1s ease;
    .sliderItem {
      width: 100vw;
      height: 100%;
      position: relative;
      .sliderDiv {
        position: absolute;
        text-align: center;
        z-index: 11;
        top: 0;
        right: auto;
        left: auto;
        width: 100%;
        padding: calc(50vh - 160px) 0 5rem 0;
        font-size: 1.4rem;
        font-style: normal;
        line-height: 2rem;
        letter-spacing: 0.1rem;
        font-weight: 400;
        color: #b1a7a6;
        h2 {
          font-size: 1.6rem;
          line-height: 2rem;
          color: #a4161a;
        }
        h2.biggerTitle {
          font-size: 4rem;
          line-height: 5rem;
          color: #161a1d;
        }
        p {
          background-color: #161a1d;
          color: #d3d3d3;
          padding: 0.5rem;
          display: inline-block;
        }
      }
      .noSelect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 10;
      }
    }
  }
  .prev {
    position: absolute;
    left: 1rem;
    top: 0;
    padding: calc(50vh - 100px) 0 5rem 0;
  }
  .next {
    position: absolute;
    right: 1rem;
    top: 0;
    padding: calc(50vh - 100px) 0 5rem 0;
  }
  .arrowBack,
  .arrowForward {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
  }
  .sliderDots {
    position: absolute;
    bottom: 0.5rem;
    right: auto;
    left: auto;
    width: 100%;
    text-align: center;
    ul {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li.pagingItem {
        width: 14px;
        height: 14px;
        margin: 0 0.2rem;
        background: #fff!important;
        border-radius: 100px;
        cursor: pointer;
      }
      li.pagingItem.active {
        background: #202020!important;
      }
    }
  }
}
